---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";


const allPosts = (await getCollection("blog")).filter(
	(post) => !post.data.draft,
);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post about my journey learning Astro.</p>
	<ul class="list-disc ml-6">
		{
			allPosts.map((post) => (
				<BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
			))
		}
	</ul>
</BaseLayout>
