---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("blog")).filter(
	(post) => !post.data.draft,
);
const pageTitle = "Matt's blog";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="mt-8">
		<p>Thoughts and feelings on various topics.</p>
	</div>
	<div class="flex flex-col gap-4 mt-8">
		{
			allPosts
				.sort((a, b) => b.id.localeCompare(a.id))
				.map((post) => <BlogPost url={`/posts/${post.id}/`} data={post.data} />)
		}
	</div>
</BaseLayout>
