---
interface Props {
	tags: string[];
}
const { tags } = Astro.props;
import { BASE_PATH } from "../config";
---

<div class="flex flex-wrap">
	{
		tags.map((tag: string) => (
			<p class="m-1 border border-dotted border-border rounded-lg px-4 py-2 text-lg bg-surface">
				<a class="text-link hover:text-link-hover underline" href={`${BASE_PATH}tags/${tag}`}>{tag}</a>
			</p>
		))
	}
</div>
